<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <template id="tmpl">
      <script>
        alert("Hello");
      </script>
      <div class="message">Hello, world!</div>
    </template>

    <script>
      let elem = document.createElement("div");

      // 再利用するためにクローンする
      elem.append(tmpl.content.cloneNode(true));

      document.body.append(elem);
    </script>
  </body>
</html>
